/************************ Design System **************************/

* {
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
        /* Colors */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --grey-color: #D9D9D9;
    --white-color: #fff;
    --black-color: #000;

        /* Text configuration */
    --body-font-weight: 400;
    --title-font-weight: 700;
    --subtitle-font-weight: 700;
    --titlecard-font-weight: 700;
    --card-font-weight: 400;
    --filter-font-weight: 700;
  
    --body-font-size: 1rem;
    --title-font-size: 1.38rem;
    --subtitle-font-size: 1.13rem;
    --titlecard-font-size: 1rem;
    --card-font-size: 0.88rem;
    --filter-font-size: 1.06rem;
}

body {
    margin: 0 auto;
    padding: 0 3.13rem;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
}

h2 {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    margin: 0;
}

h3 {
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    margin: 0;
}

h4 {
    font-size: var(--titlecard-font-size);
    font-weight: var(--titlecard-font-weight);
    margin: 0;
}

.icon-blue {
    color: var(--main-color);
}

.euro {
    font-weight: var(--body-highlight-font-weight);
}

.neutral-star {
    color: var(--main-bg-color)
}

.fa-chart-line {
    width: 18px;
    height: 16px;
}

.fa-star {
    width: 12px;
    height: 12px;
}


/*************************** HEADER *************************/

/******************* TopBar / Menu *******************/

.site-header-topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.88rem;
}

.site-header-topbar--logo {
    width: 61px;
    margin: 1.88rem 0;
}

.site-header-topbar--menu {
    height: 35px;
    display: flex;
    gap: 4.25rem;
}

.site-header-topbar--menu--item {
    height: 100%;
    display: flex;
    align-items: end;
    box-sizing: border-box;
}

.site-header-topbar--menu--item:hover {
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
    transition: color 0.3s, border 0.3s;
}


/*********************** Search **********************/

.site-header-search {
    margin-bottom: 35px;
}

.site-header-search--form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 377px;
    height: 49px;
    border: solid 1px var(--main-bg-color);
    border-radius: 15px;
    margin-top: 2.19rem;
}

.site-header-search--title {
    display: inline-block;
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    margin-bottom: 8px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 50px;
    width: 49px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px; 
    
}

.site-header-search--txt {
   padding-left: 1.5rem;
   width: 100%;
   height: 100%;
   font-size: var(--subtitle-font-size);
   font-weight: var(--subtitle-font-weight);
   box-sizing: border-box;
   background-color: var(--white-color);
   transition: border-color 0.3s;
   border: solid 1px var(--main-bg-color);
}

.site-header-search--txt:focus {
   outline: none; 
   border: 2px solid var(--main-color);
}

.site-header-search--content:focus-within .search-icon {
    background-color: var(--filter-bg-color); 
    color: var(--main-color); 
}

.site-header-search--txt::placeholder {
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    background-color: var(--white-color);
}

.site-header-search--buttonTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 49px;
    padding: 0.94rem 1rem;
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
    color: var(--white-color);
    border-radius: 0 15px 15px 0;
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
}

.site-header-search--buttonGlass {
    display: none;
}


/********************** Filters ************************/

.site-header-filters {
    display: flex;
    align-items: center;
    gap: 0.94rem;
    margin: 2.19rem 0;
    text-decoration: none;
}

.site-header-filters--txt {
    font-size: var(--filter-font-size);
    font-weight: var(--filter-font-weight);
    margin: 0;
}

.site-header-filters--content {
    display: flex;
    align-items: center;
    gap: 0.94rem;
}

.site-header-filters--link {
    display: flex;
    align-items: center;
    height: 46px;
    border-radius: 30px;
    border: 2px solid var(--grey-color);
    padding: 0.25rem 1.19rem;
    gap: 0.63rem;
    text-decoration: none;
}

.site-header-filters--link:hover {
    background-color: var(--filter-bg-color);
    transition: background-color 0.7s;
}

.site-header-filters--link i {
    font-size: 22px;
}

.item1, .item2, .item3, .item4 {
    overflow: hidden;
    text-overflow: ellipsis;
}


/*************************** MAIN *************************/

.site-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/******************* MAIN - HEADER : RESULT *******************/

.site-main-header-result {
    display: flex;
    align-items: center;
    gap: 0.63rem;
    width: 60%;
    margin-bottom: 2.19rem;
    
}

.icon-info {
    font-size: 24px;
}


/******************* MAIN - CONTENT *******************/

.site-main-content {
   display: flex;
}

.site-main-content-lodging, .site-main-content-populars {
    padding: 1.88rem;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}


/******************* MAIN - CONTENT : LODGING *******************/

.site-main-content-lodging {
    width: 65%;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
}

.site-main-content-lodging--content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.88rem;
    margin: 1.88rem 0;
    box-sizing: border-box;
}

.item-l1, .item-l2, .item-l3, .item-l4, .item-l5, .item-l6 {
    flex-grow: 1;
    width: 25%;
    height: 207px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--white-color);
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.site-main-content-lodging--cards--img {
    width: 100%;
    height: 124px;
    padding: 0.31rem 0.31rem 0.56rem 0.31rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    object-fit: cover;
}

.site-main-content-lodging--cards--content {
    display: flex;
    flex-direction: column;
    padding: 0 0.94rem 0.94rem 0.94rem;
}

.site-main-content-lodging--cards--subtitle {
    margin: 0.5rem 0;
    font-size: var(--card-font-size);
}

.site-main-content-lodging--cards--rating {
    margin: 0;
}

.site-main-content-lodging--footer--link {
    margin-top: 1.88rem;   
}


/******************* MAIN - CONTENT : POPULARS *******************/

.site-main-content-populars {
    width: 35%;
}

.site-main-content-populars--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-main-content-populars--cards {
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 0.31rem;
    margin-top: 1.88rem;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    display: flex; 
}

.site-main-content-populars--cards--img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.site-main-content-populars--cards--content {
    width: 67%;
    padding-left: 0.94rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

 .site-main-content-populars--cards--title {
    margin-top: 0.63rem;
    margin-bottom: 0.31rem;
}

.site-main-content-populars--cards--subtitle {
    margin: 0;
    font-size: var(--card-font-size);
}

.site-main-content-populars--cards--rating {
    margin-bottom: 0.31rem;
}


/******************* MAIN - FOOTER : ACTIVITIES *******************/

.site-main-footer-activities {
    margin-top: 2.19rem;
    padding: 1.88rem;  
}

.site-main-footer-activities--content { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.88rem;
    gap: 1.88rem;
    width: 100%;
}

.site-main-footer-activities--cards {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    height: 439px; 
}

.site-main-footer-activities--img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.site-main-footer-activities--cards--title {
    height: 59px;
    display: flex;
    align-items: center;
    padding: 0 1.19rem;
}

.item-a1, .item-a2, .item-a3, .item-a4 {
    flex-grow: 1;
    width: 30%;
}


/********************************* Site Footer *******************************/

.site-footer {
    background-color: var(--main-bg-color);
    display: flex;
    margin-top: 2.19rem;   
}

.site-footer--cat {
    padding: 1.25rem;
    width: 100%;
}

.site-footer--link {
    display: flex;
    margin-top: 0.94rem;
}


/********************************* MEDIA QUERIES *******************************/

/*********** Medium devices (tablets, less equal than 1024px) ************/

@media screen and (max-width: 1024px) {

    /**************** Site HEADER - FILTERS ***************/

    .site-header-filters {
       max-width: 100%;
     }

    .site-header-filters--content {
        width: 90%;
    }


    /**************** Site MAIN - HEADER ***************/
    .site-main-header-result {
        width: 100%;
    }


    /**************** Site MAIN - CONTENT ***************/
    .site-main-content {
        flex-direction: column;
    }


     /****** Site MAIN - CONTENT - LODGING ******/

    .site-main-content-lodging {
        width: 100%;
    }


     /****** Site MAIN - CONTENT - POPULARS ******/

    .site-main-content-populars {
        width: 100%;
        margin-top: 3.13rem;
        padding: 1.88rem;
    }

    .site-main-content-populars--cards {
        display: flex;
        justify-content: space-between;
        margin-top: 1.25rem;  
    }
    
    .site-main-content-populars--content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .site-main-content-populars--cards--link {
        width: 32%;
    }


    /****** Site MAIN - CONTENT - ACTIVITIES ******/

    .site-main-footer-activities--img {
        height: 200px;
    }

    .site-main-footer-activities--cards {
        height: 270px;
    }


    /**************** Site FOOTER ***************/

    .site.footer--cat {
        gap: 1.88rem;
    }
}


/****************** Small devices (phones, less than 768px) *****************/

@media (max-width: 767px) {
    
    body {
        padding: 0;
    }


    /************************* Site HEADER - TOPBAR ************************/

    .site-header-topbar {
        flex-direction: column;
        align-items: center;
    } 

    .site-header-topbar--logo {
        margin: 1.88rem;
    }   

    .site-header-topbar--menu{
        width: 100%;
        padding: 0;
        gap: 0;
        box-sizing: border-box;  
    }

    .site-header-topbar--menu--item {
        justify-content: center;
        border-top: none; 
        padding-bottom: 0.94rem;
        border-bottom: 2px solid var(--main-bg-color); 
        margin-left: 0;
        width: 100%;
    }

    .site-header-topbar--menu--item:hover {
        border-top: none; 
        border-bottom-color: var(--main-color);
    }


    /************************ Site HEADER - SEARCH ***********************/

    .site-header-search {
        padding: 0 1.25rem;
    }
    .site-header-search--content {
        display: flex;
        justify-content: center;
    }
    
    .site-header-search--buttonTxt {
        display: none;
    }

    .site-header-search--buttonGlass {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 49px;
        height: 49px;
        padding: 0.94rem 1rem;
        background-color: var(--main-color);
        border: solid 1px var(--main-color);
        color: var(--white-color);
        border-radius: 0 15px 15px 0;
        font-size: 17px;
    }


    /*********************** Site HEADER - FILTERS **********************/

    .site-header-filters {
        padding: 0 1.25rem;
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
    }

    .site-header-filters--content {
       flex-wrap: wrap;
       width: 100%;
       gap: 0.63rem;
       box-sizing: border-box;
    }
    
    .item1, .item2, .item3, .item4 {
        flex-grow: 1;
        width: 30%;
        
    }
    .site-header-filters--txt {
        font-size: var(--card-font-size);
    }


    /*************************** Site MAIN ****************************/

    .site-main-header {
        width: 100%;
    }

    .site-main-header-result {
        padding: 0 1.25rem;
        box-sizing: border-box;
    }

    .site-main-content {
        flex-direction: column;
    }
   

     /****************** Site MAIN - CONTENT - LODGING *****************/
    
    .site-main-content-lodging {
        background-color: var(--white-color);
        width: 100%;
        padding: 1.25rem;
    }
    
    .site-main-content-lodging--header--title {
        margin: 0;
    }

    .site-main-content-lodging--content {
        display: flex;
        flex-direction: column;
        gap: 0.94rem;
        margin: 0.94rem 0;
    }
    
    .item-l1, .item-l2, .item-l3, .item-l4, .item-l5, .item-l6 {
        flex-grow: 1;
        width: 100%;      
    }


    /***************** Site MAIN - CONTENT - POPULARS *****************/

    .site-main-content-populars {
        order: -1;
        width: 100%;
        border-radius: 0;
        padding: 1.88rem 1.25rem;
        margin-top: 0;
        margin-bottom: 0.94rem;
    }
    
    .site-main-content-populars--content {
        flex-direction: column;
    }
    
    .site-main-content-populars--cards--link {
        width: 100%;
    }
    

    /**************** Site MAIN - FOOTER - ACTIVITIES *****************/

    .site-main-footer-activities {
        max-width: 100%;
        padding-bottom: 1.88rem;
    }
    
    .site-main-footer-activities--cards {   
        height: 200px;  
    }

    .site-main-footer-activities--img {
        height: 141px;
    }
    
    .site-main-footer-activities--content{
       flex-direction: column;
       align-items: center;
       width: 100%;
       gap: 0.94rem;
       box-sizing: border-box;
    }
    
    .item-a1, .item-a2, .item-a3, .item-a4 {
        flex-grow: 1;
        width: 100%;      
    }


    /************************ Site FOOTER ***************************/

    .site-footer {
        flex-direction: column;
    }

    .site-footer--cat {
        width: 100%;
        padding: 1.88rem;
        gap: 3.13rem;
    }

}