/****** Design System ***********/

* {
    font-family: 'Raleway', sans-serif;
}

* a {
    color: inherit;
    text-decoration: none;
}

:root {
        /* Colors */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

        /* Text configuration */
    --body-font-weight: 400;
    --body-highlight-font-weight: 700;
    --header-font-weight: 700;
    --title-font-weight: 700;
    --card-font-weight: 400;
    --filter-font-weight: 700;
  
    --body-font-size: 1rem;
    --body-highlight-font-size: 1rem;
    --header-font-size: 1.38rem;
    --title-font-size: 1.13rem;
    --card-font-weight: 0.86rem;
    --filter-font-weight: 1.06rem;
    
}

body {
    font-size: var(--body-font-size);
    font-weight: var(--body-font-size);
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/****** TopBar / Menu ***********/

.site-header {
    display: flex;
    flex-direction: column;
}

.site-header--topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.site-header--topbar--logo {
    width: 61px;
    height: 19px;
    margin: 30px 0 30px 0;
}

.site-header--topbar--menu--item {
   
    margin-top: 14px;
    font-size: 16px;
    padding-top: 14px;
    border-top: 2px solid transparent;
    margin-left: 68px;

}

.site-header--topbar--menu--item:hover {
    border-top-color: var(--main-color);
    color: var(--main-color);
}

/****** Site Content ***********/
.site-content {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/****** Media queries ***********/

/* Large devices (desktop, larger than 1024px) */
@media screen and (min-width: 1024px) {

}

/* Medium devices (tablets, less equal than 1024px) */
@media screen and (max-width: 1024px) {

}
/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {

    header, body, .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        max-width: none;
        width: 100%;
    }    

    nav{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin: 0 0 30px 0;
    }
    nav a {
        border-top: none; 
        padding-bottom: 15px;
        border-bottom: 2px solid #F2F2F2; 
        margin-left: 0;
        width: 50%;
        text-align: center;
    }
    nav a:hover {
        border-bottom-color: #0065FC;
    }
}