/****** Design System ***********/

* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
        /* Colors */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

        /* Text configuration */
    --body-font-weight: 400;
    --body-highlight-font-weight: 700;
    --header-font-weight: 700;
    --title-font-weight: 700;
    --card-font-weight: 400;
    --filter-font-weight: 700;
  
    --body-font-size: 1rem;
    --body-highlight-font-size: 1rem;
    --header-font-size: 1.38rem;
    --title-font-size: 1.13rem;
    --card-font-size: 0.86rem;
    --filter-font-size: 1.06rem;
}

body {
    display: flex;
    justify-content: center;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
   
}

h1 {
    font-size: ;
    margin: 0;
}

h2 {
    font-size: ;
    margin: 0;
}

h3 {
    font-size: ;
    margin: 0;
}
.fa-solid {
    color: var(--main-color);
}


/****** TopBar / Menu ***********/


.site-header--topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height : 79px;
    margin-bottom: 30px;
}

.site-header--topbar--logo {
    width: 61px;
    margin: 30px 0;
}

.site-header--topbar--menu {
    height: 50%;
    display: flex;
    gap: 68px;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
}

.site-header--topbar--menu--item {
    height: 100%;
    display: flex;
    align-items: end;
    box-sizing: border-box;
}

.site-header--topbar--menu--item:hover {
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
}

/****** Hero ***********/
.site-header--hero {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
    
.site-header--hero--title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    margin: 0;
}

.site-header--hero--subtitle {
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    margin: 0;
}

/****** Search ***********/




/****** Filters ***********/
.site-header--filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-header--filters--title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}

.site-header--filters--txt {
    font-size: var(--filter-font-size);
    font-weight: var(--filter-font-weight);
}

.site-header--filters--link {
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
    padding: 4px 19px;
    margin: 15px;

}


/****** Site Content ***********/
.site-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

/****** Site Content MAIN : LOADGING ***********/
.site-content-main-result--icon {

}

.site-content-main-result--txt {
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    margin: 35px 0;
}

.site-content-main--header--title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 22px;
}

.site-content-main--lodging, .site-content-aside {
    padding: 30px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}
.site-content-main {
    width: 65%;
    display: flex;
    flex-direction: column;
}


.site-content-main--content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    box-sizing: border-box;
}

.site-content-main--cards {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    gap: 30px;
}


.site-content-main--cards--img {
    width: 100%;
    height: 124px;
    padding: 5px 5px 9px 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    object-fit: cover;
}

.site-content-main--cards--content {
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px 15px;
}

.site-content-main--cards--title {
    font-size: var(--body-highlight-font-size);
}

.site-content-main--cards--subtitle {
    margin: 8px 0;
    font-size: 14px;
}

.site-content-main--cards--rating {
    margin: 0;
}

.site-content-main--lodging--footer--title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    margin-top: 30px;
    margin-bottom: 0;
}
/****** Site Content ASIDE : POPULARS ***********/

.site-content-aside {
    width: 32%;
    margin-top: 94px;
}

.site-content-aside--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-content-aside--header--title {
    margin: 0;
    font-size: 22px;
}

.site-content-aside--cards {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    margin-top: 30px;
}

.site-content-aside--cards--img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.site-content-aside--cards--title {
    font-size: 16px;
}

.site-content-aside--cards--content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

 .site-content-aside--cards--title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.site-content-aside--cards--subtitle {
    margin: 0;
    font-size: 14px;
}

.site-content-aside--cards--rating {
    margin-bottom: 5px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/********* Site Content Activities ***********/

.site-content-activities {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.site-content-activities--title {
    margin: 0 0 30px 30px;
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
}

.site-content-activities--content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.site-content-activities--cards {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;

}

.site-content-activities--img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.site-content-activities--cards--title {
    margin: 0;
    padding: 20px 19px;
    font-size: var(--body-highlight-font-size);
    box-sizing: border-box;
}

/********* Site Footer ***********/
.site-footer {
    background-color: var(--main-bg-color);
    display: flex;
    margin-top: 35px
}

.site-footer--cat {
    padding: 1.25rem;
    width: 100%;
}

.site-footer--title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);

}
.site-footer--link {
    display: flex;
    margin-top: 15px;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
}



/****** Media queries ***********/

/* Large devices (desktop, larger than 1024px) */
@media screen and (min-width: 1024px) {
    .site-content {
     
    }
}

/* Medium devices (tablets, less equal than 1024px) */
@media screen and (max-width: 1024px) {
    .site-content {
        flex-direction: column;
    }

    .site-content-main {
        width: 100%;
    }

    .site-content-aside {
        width: 100%;
        margin-top: 50px;
    }

    .site-content-aside--cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .site-content-aside--content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        gap: 20px;
    }

    .site-content-aside--article--link {
        width: 30%;
    }

    .site-content-aside--article--title {
        font-size: 14px;
    }

    .site-content-aside--article--subtitle {
        font-size: 13px;
    }
    .site.footer--cat {
        gap: 30px;
    }
}



/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********* Site HEADER - TOPBAR ***********/
.site-header--topbar {
    flex-direction: column;
    align-items: center;
    height: auto;
     
} 
.site-header--topbar--logo {
    margin: 30px;
}   
.site-header--topbar--menu{
    width: 100%;
    height: auto;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
       
}
 .site-header--topbar--menu--item {
    justify-content: center;
    border-top: none; 
    padding-bottom: 13px;
    border-bottom: 2px solid var(--main-bg-color); 
    margin-left: 0;
    width: 100%;
}
.site-header--topbar--menu--item:hover {
    border-top: none; 
    border-bottom-color: var(--main-color);
}
/********* Site Content MAIN ***********/
.site-content {
   
}

.site-content-main-result {

}

.site-content-main--lodging {
    background-color: white;
}
.site-content-main--content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.site-content-aside {
    border-radius: 0;
}

.site-content-aside--content {
    flex-direction: column;
}

/********* Site Content ACTIVITIES ***********/
.site-content-activities {
    margin: 0;
    padding: 30px;
}
.site-content-activities--title {
    margin: 0
}
.site-content-activities--img {
    height: 141px;
}
.site-content-activities--content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}
/********* Site FOOTER ***********/
.site-footer {
    flex-direction: column;
}
.site-footer--cat {
    width: 100%;
    padding: 30px;
    gap: 50px;
}
}
